<?php

//	Demo file

$host = "localhost";		// database server

$user = "Pixelbar";		// database user namem

$pass = "Pixelbar-Password";	// database user password

$db = "Coffee";			// database name

$index = "1";

?>
